extends ../templates/main-layout

block content
  section.panel.panel-green
    .panel__container
      .panel__column-a
        .panel__mobile-shell
          img(src="https://com-savvycard-cdn.s3.us-east-1.amazonaws.com/images/savvycard-for/realestate-iphone.png")
      .panel__column-b
        h1.panel__header--small
          | SavvyCard for Real Estate™
        p.panel__header--medium
          | Take your leads back from the Portals!
        .panel__text-bubble
          | "I use Property SavvyCards as a differentiator and win listings because of it. Once potential sellers see my SavvyCard and how it works, they’re sold on using me instead of other agents." -
          span.panel__text-bubble-bold
            | JoAnn Martindale, 
          | Success Mortgage Partners
        button.panel__cta
          | Learn More
    svg.panel__divider
      use(xlink:href='icons.svg#panel-divider')
  section.panel.panel--detail
    .panel__container.panel__container--detail
      h2.panel__detail-header
        | What is SavvyCard for Real Estate?
      .panel__detail-column
        p.panel__detail-text
          | SavvyCard for Real Estate uses your MLS data to automatically create SavvyCards for you AND for your listings! Use these SavvyCards to generate leads online through Social Media and through your customer's friends and family, quickly and inexpensively!
        ol.panel__detail-list
          li.panel__detail-list-item
            | Generate leads with push-button ease
          li.panel__detail-list-item
            | Empower your referral networking
          li.panel__detail-list-item
            | Increase social media exposure
          li.panel__detail-list-item
            | Close more deals!
      .panel__detail-column
        .panel__detail-img
          img(src="https://com-savvycard-cdn.s3.amazonaws.com/images/savvycard-for/sc4re_product_page_graphic1.jpg")
      button.panel__detail-cta
        | Get Your SavvyCard Now !
  section.panel.panel--detail.panel--detail--alt
    .panel__container.panel__container--detail.panel__container--detail--alt
      h2.panel__detail-header
        | Why Should You Choose SavvyCard?
      .panel__detail-column
        p.panel__detail-text
          | SavvyCard keeps you proactive in the sales process, improving conversion rates and closing more deals. And SavvyCard requires no app or download to use. It’s simple, it’s fast, and it’s effective!
        ol.panel__detail-list
          li.panel__detail-list-item
            | Stand-alone property web app for every listing
          li.panel__detail-list-item
            | Lead capture forms
          li.panel__detail-list-item
            | Push-Button social media marketing
          li.panel__detail-list-item
            | Real-time referral notifications (with contact info)
      .panel__detail-column
        .panel__detail-img
          img(src="https://com-savvycard-cdn.s3.amazonaws.com/images/savvycard-for/sc4b_product_page_graphics_1stsection_video_graphic.jpg")
      button.panel__detail-cta
        | Get Your SavvyCard Now !