nav.nav
  div.nav__container
    a(href="/").nav__logo
      svg.nav__logo-icon
        use(xlink:href='icons.svg#savvycard-logo-black')
    div.nav__menu-container
      ul.nav__menu
        li.nav__menu-item
          a(href="/savvycard-for-real-estate")
            | Real Estate
        li.nav__menu-item
          a(href="/")
            | Automotive
        li.nav__menu-item
          a(href="/")
            | Business
        li.nav__menu-item
          a(href="/")
            | Enterprise
      ul.nav__secondary-menu
        li.nav__secondary-menu-item
          a(href="")
            | Log In 
        li.nav__secondary-menu-item.btn--primary
          a(href="")
            | Get SavvyCard
    div.nav-mobile
      div.nav-mobile-burger
        span
        span
        span
      div.nav-mobile-text
        | Menu
    ul.nav-mobile-menu
      li.nav-mobile-menu__item
        a(href="")
          | Home
      li.nav-mobile-menu__item
        a(href="")
          | Products
        ul.nav-mobile-menu__extend 
          li.nav-mobile-menu__extend-item
            a(href="/savvycard-for-real-estate")
              | Real Estate
          li.nav-mobile-menu__extend-item
            a(href="")
              | Automotive
          li.nav-mobile-menu__extend-item
            a(href="")
              | Business
          li.nav-mobile-menu__extend-item
            a(href="")
              | Enterprise
      li.nav-mobile-menu__item
        a(href="")
          | Log In 
                

                

